:root {
  --black-color: #000000;
  --black-half-color: #00000080;
  --black-quarter-color: #00000040;
  --black-15-color: #00000026;

  --gray1-color: #323232;
  --gray2-color: #383838;
  --gray3-color: #404040;
  --gray4-color: #505050;
  --gray5-color: #626262;
  --gray6-color: #808080;
  --gray7-color: #E6E6E6;
  --gray8-color: #F7F7F7;

  --white-color: white;
  --white-half-color: #FFFFFF80;
  --white-quarter-color: #FFFFFF40;
  --white-15-color: #FFFFFF26;

  --primary-accent: #40B4A4;
  --primary-ligth-accent: #73CFC2;

  --tag-text-color: #1C7C75;
  --exit-text-color: #ed3c3c;
  --exit-text-hover-color: #f24e43;

  --accept-color: #46DD49;
  --accept-button-color: #43CC45;
  --in-process-color: #DDB046;
  --in-process-text-color: #BF9022;
  --reject-color: #DD5E46;
  --info-color: #4671DD;

  --new-notification-color: #FF9292;

  --border-radius-base: 8px;
  --border-radius-small: 4px;

  --font-family-base: "Roboto";
  --font-family-logo: "Rokkitt"; 
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}