.form-field-forgot-password-container{
    display: flex;
    text-align: center;

    .form-field-forgot-password-text{
        margin-left: auto;
        margin-right: rem(12);
        margin-top: rem(6);
        margin-bottom: rem(6);
        color: var(--primary-accent);
        font-size: rem(12);
        cursor: default;

        &:hover{
            filter: brightness(0.95);
        }
        &:active{
            filter: brightness(0.9);
        }
    }
}

.form-remember-me-container{
    display: flex;
    gap: rem(6);
    align-items: center; 
    margin-top: rem(12);
    margin-bottom: rem(12);

    .form-remember-me-checkbox{
        accent-color: var(--primary-accent);
        border: 1px solid color-mix(in srgb, var(--neutral-100), transparent 50%);
        outline: none;

         &:hover{
            filter: brightness(0.975);
        }
        &:active{
            filter: brightness(0.95);
        }
    }
    .form-remember-me-text{
        font-size: rem(12);
        color: color-mix(in srgb, var(--neutral-100), transparent 50%);
    }
}

.form-complete-container{
    margin-top: rem(12);
    margin-bottom: rem(12);
    height: rem(35);
    width: 100%;
    display: flex;
    justify-content: center;

    .form-complete-button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(6);
        width: rem(350);
        height: inherit;
        background-color: var(--primary-accent);
        color: var(--neutral-0);
        font-weight: bold;
        border-radius: var(--border-radius-base);
        border: none;

        .form-header-ico{
            width: rem(15);
            height: rem(15);
            fill: var(--neutral-0);
        }

        &:hover{
            filter: brightness(0.975);
        }
        &:active{
            filter: brightness(0.95);
        }
        &:disabled {
            opacity: 0.5;
            filter: grayscale(1);
            pointer-events: none;
        }
    }
}

.auth-service-container{
    padding-left: rem(24);
    padding-right: rem(24);
    margin-bottom: rem(12);

    .auth-service-separator-text {
        font-size: rem(12);
        color: color-mix(in srgb, var(--neutral-100), transparent 50%);
        display: flex;       
        align-items: center;
        gap: rem(12);

        &::before, &::after {
            content: "";
            flex: 1;
            height: 1px;
            background-color: color-mix(in srgb, var(--neutral-100), transparent 50%);
            opacity: 0.5;
        }  
    }

    .auth-service-items-container{
        display: flex;
        justify-content: space-between;
        margin-top: rem(12);
        margin-bottom: rem(12);
        padding-left: rem(24);
        padding-right: rem(24);

        .auth-service-item-container{
            width: rem(125);
            display: flex;
            align-items: center;
            padding-left: rem(12);
            gap: rem(18);
            border-radius: var(--border-radius-base);
            border: 1px solid color-mix(in srgb, var(--neutral-100), transparent 50%);
            height: rem(30); 
            background-color: var(--neutral-0);

            .auth-service-item-ico{
                width: rem(15);
                height: rem(15);

                &.git{
                    width: rem(18);
                    height: rem(18);
                }
            }
            
            .auth-service-item-text{
                font-size: rem(12);
                color: color-mix(in srgb, var(--neutral-100), transparent 25%);
                user-select: none;
            }

            &:hover{
                filter: brightness(0.975);
            }
            &:active{
                filter: brightness(0.95);
                transform: scale(0.98);
            }
        }
    }
}

.auth-change-format-container{
    display: flex;
    gap: rem(6);
    justify-content: center;
    padding-left: rem(24);
    padding-right: rem(24);
    padding-bottom: rem(75);

    .auth-change-format-text{
        font-size: rem(12);
        color: color-mix(in srgb, var(--neutral-100), transparent 50%);
    }
    .auth-change-format-link{
        font-size: rem(12);
        color: var(--primary-accent);
        font-weight: bold;
        cursor: default;

        &:hover{
            filter: brightness(0.95);
        }
        &:active{
            filter: brightness(0.9);
        }
    }
}