.main{
    font-family: var(--font-family-base);
    margin-top: rem(75);
    flex: 1 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .container {
        max-width: rem(1536); 
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-grow: 1;
        height: 100%;
    }
}

.navigation-container{
    width: rem(325);
    position: fixed;
    z-index: 50;
    height: calc(100vh - rem(150)); 
    overflow-y: auto;
    overflow-x: hidden;

    .navigation-panel-container{
        display: flex;
        flex-direction: column; 
        gap: rem(12);
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        padding-top: rem(36);
        padding-bottom: rem(36);
    }
}

.navigation-panel-item-container{
    text-decoration: none;
    color: inherit;
    display: flex;
    gap: rem(12);
    padding-top: rem(7);
    padding-bottom: rem(7);
    padding-left: rem(12);
    padding-right: rem(12);
    background-color: var(--base4-color);
    border-radius: var(--border-radius-base);
    align-items: center; 
    position: relative;
    transition: 0.1s;

    .navigation-panel-item-ico-container{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius-small);
        padding: rem(5);

        .navigation-panel-item-ico{
            width: rem(15);
            height: rem(15);
        }
    }

    .navigation-panel-item-text-container{

        .navigation-panel-item-text{
            font-size: rem(16);
            user-select: none;
        }
    }
    &:hover {
        filter: brightness(0.95);
    }
    &:active{
        filter: brightness(0.9);
    }
    
    &.active {
        background-color: var(--base3-color); 
    }
    &.active .navigation-panel-item-text{
        color: var(--neutral-0);
        font-weight: bold;
    }
    &.active .navigation-panel-item-ico-container{
        background-color: var(--neutral-0);
    }
}

.separator{
    color: color-mix(in srgb, var(--neutral-100), transparent 75%);
    margin: 0;
}

.content-container{
    max-width: rem(960); 
    width: 100%; 
    background-color: var(--neutral-0);
    border-left: 1px solid color-mix(in srgb, var(--neutral-100), transparent 85%);
    border-right: 1px solid color-mix(in srgb, var(--neutral-100), transparent 85%);
    margin-left: rem(325);
    display: flex; 
    flex-direction: column; 
    flex-grow: 1; 
}

// adaptive for smaller screens
@media (max-width: 965px) {
    .main {
        width: 100%;
        justify-content: center;
    }
    .content-container {
        margin: 0 auto;
    }
}