.footer {
    background-color: var(--base1-color);
    width: 100%;
    height: rem(75);
    color: var(--neutral-0);
    font-family: var(--font-family-base);
    flex-shrink: 0;

    .container {
        max-width: rem(1536); 
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end; 
        align-items: center;
    }
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: inherit; 
    width: rem(325);
    user-select: none;

    .social-container, .mail-container {
        display: flex;
        gap: rem(8);

        .social-ico{
            width: rem(20);
            height: rem(20);

            &:hover{
                filter: brightness(0.975);
            }
            &:active{
                filter: brightness(0.95);
                transform: scale(0.98);
            }
        }

        #mail{
            color: var(--primary-accent);
            font-weight: bold;
            user-select: text;
        }
    }
}