// theme and color set
:root {
  --neutral-0:  #FFFFFF;
  --neutral-100: #000000; 

  --base1-color: #323232;
  --base2-color: #383838;
  --base3-color: #484848;
  --base4-color: #f7f7f7;
  --base5-color: #fafafa;

  --primary-accent: #40B4A4;
  --primary-light-accent: #73CFC2;
  --primary-tag-text-color: #1C7C75;

  --success-color: #46DD49;
  --success-extra-ligth-color:  #daf7db;

  --important-color: #DD5E46;
  --important-ligth-color: #ef7b64;

  --in-process-color: #DDB046;
  
  --info-color: #4671DD;

  --border-radius-base: 8px;
  --border-radius-small: 4px;

  --font-family-base: "Roboto";
  --font-family-logo: "Rokkitt";
}

@mixin dark-theme-values {
}

// system theme
@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    @include dark-theme-values;
  }
}

// uset select theme
:root[data-theme='dark'] {
  @include dark-theme-values;
}

// global styles
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

*{
    box-sizing: border-box;
    outline: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--base4-color);
    min-height: 80vh;
}

p{
    margin: 0;
}

// adaptive global font size
@media (max-width: 1290px) {
    html{
        font-size: 14px;
    }
}
@media (max-width: 1125px) {
    html{
        font-size: 12px;
    }
}