.footer {
    background-color: var(--base1-color);
    font-family: var(--font-family-base);
    font-size: rem(16);
    color: var(--neutral-0);
    width: 100%;
    height: rem(75);
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: inherit; 
    width: rem(325);
    margin-left: auto; 
    user-select: none;

    .social-container, .mail-container {
        display: flex;
        gap: rem(8);

        .social-ico{
            width: rem(20);
            height: rem(20);
        }

        #mail{
            color: var(--primary-accent);
            font-weight: bold;
            user-select: text;
        }
    }
}