// base
.header{
    background-color: var(--base1-color);
    font-family: var(--font-family-base);
    height: rem(75);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: fixed;   
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header-short-unauth-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo-container{
    display: flex;
    gap: rem(12);
    width: rem(325);
    align-items: center;
    height: inherit;

    .ico-container{
        padding-left: rem(48);

        .logo-ico{
            width: rem(40);
            height: rem(40);
        }
    }

        .name-project-text{
            color: var(--neutral-0);
            font-size: rem(32);
            font-family: var(--font-family-logo);
        }
    
}

// unauthorized user
.login-container{
    width: rem(250);
    text-align: center;

    .login-button{
        border-radius: var(--border-radius-base);
        color: var(--neutral-0);
        background-color: transparent;
        font-size: rem(16);
        font-weight: bold;
        border: 1px solid var(--neutral-0); 
        height: rem(40);
        width: rem(125);

        &:active{
            filter: brightness(1.05);
        }
    }
    .login-button:hover{
        background-color: var(--base2-color);
    }   
}

// authorized user
.profile-container{
    display: flex;
    width: rem(325);
    height: rem(75);
    align-items: center;
}

.notification-panel-container{
    position: relative;
    height: inherit;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;

    .notification-ico{
        transition: 0.25s;
        width: rem(15);
        height: rem(20);
    }

    .new-notification{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-120%, -210%); 
        width: rem(5); 
        height: rem(5);
        background-color: var(--new-notification-color); 
        border-radius: 50%;
        transition: 0.25s;
    }

    &:active{
        filter: brightness(1.05);
    }
}
.notification-panel-container:hover{
    background-color: var(--base2-color);
}
.notification-panel-container:hover .notification-ico{
    transform: rotate(8deg);
}
.notification-panel-container:hover .new-notification{
    transform: translate(-100%, -210%); 
}

.profile-panel-container{
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    gap: rem(12);

    .avatar-container{
        width: rem(35);
        height: rem(35);
        margin-left: rem(12);
    
        .avatar-image{
            border-radius: 50%;
            height: inherit;
            width: inherit;
            user-select: none;
        }
    }

    .username-container{

        .username-text{
            color: var(--neutral-0);
            font-size: rem(16);
            user-select: none;
        }
        .mail-text{
            color: var(--neutral-50);
            font-size: rem(10);
            user-select: none;
        }
    }

    .dropdown-ico-container{
        padding-right: rem(12);
        margin-left: auto;

        .dropdown-ico{
            transition: 0.25s;
            width: rem(15);
            height: rem(15);

            &.rotated {
                transform: rotate(180deg);
            }
        }
    }
}
.profile-panel-container:hover{
    background-color: var(--base2-color);
}
.profile-panel-container:hover .dropdown-ico,
.profile-panel-container.open .dropdown-ico{
    fill: var(--primary-accent);
}
.profile-panel-container:active{
    filter: brightness(1.05);
}
.dropdown-wrapper {
    position: absolute;
    top: 0; 
    right: 0; 
}

// short menu style
.short-menu-container{
    height: inherit;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;

    .short-menu-ico{
        transition: 0.25s;
        width: rem(20);
        height: rem(20);
        fill: var(--neutral-0);
    }
}
.short-menu-container:hover{
    background-color: var(--base2-color);
}
.short-menu-container:hover .short-menu-ico,
.short-menu-container.open .short-menu-ico{
    fill: var(--primary-accent);
}